@font-face {
  font-family: "GaramondFont";
  src:url("./font/AGaramondPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "InkFreeFont";
  src:url("./font/Inkfree.ttf") format("truetype");
}

@font-face {
  font-family: "ArisaFont";
  src:url("./font/AnisaSans.ttf") format('truetype');
} 

body {
  overflow: hidden;
  height: 100vh;
  background-color: #25a3a4;
  background-color: #f64744;
}

.App {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

#menu {
  /*background-color: #f64744;*/
  white-space: nowrap;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 0;
  flex-basis: 2;
  flex-shrink: 7;
  height: 100vh;
}

#topMenu {
  text-align: right;
  margin: 0;
  height: 10%;
}

#topMenu div {
  margin: 0;
}

#name {
  font-family: "InkFreeFont";
  font-weight: bold;
  font-size: 3.5vw;
}

#occupation {
  font-family: "ArisaFont";
  font-weight: bold;
  font-size: 1.75vw;
}

#mainMenu {
  font-family: "GaramondFont";
  margin-top: 7%;
  font-size: 3.1vw;
  font-weight: bold;
  height: 50%;
}

#mainMenu div {
  padding: 0;
  margin: 0;
  color: white;
  margin-top: 3vh;
}

#menuBottom {
  margin: 0;
  margin-top: 6%;
  height: 17%;
}

.menuBottomElement {
  margin: 0;
  margin-top: 2.8vh;
  height: 10%;
  width: 10%;
}

.contentHome {
  flex-basis: 8;
  flex-shrink: 3;
  height: 100vh;
  width: 80vw;
  background-color: #25a3a4;
  margin: 0;
  overflow: hidden;
}

img.cover {
  margin: 0;
  padding: 0;
  position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menuItem {
  cursor: pointer;
}

.contentMain {
  padding-left: 5vw;
  padding-right: 3vw;
  margin-left: 2vw;
  margin-right: 0vw;
  width: 70vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 92vh;
  border-radius: 25px;
  overflow-y: scroll;
  background-color: #25a3a4;
}

#aboutMeImage {
  width: 50.5%;
  padding-right: 2%;
  padding-bottom: 2%;
  height: auto;
  float: left;
}

a {
  color: #513b41;
  text-decoration: none;
}

.contentText {
  color: white;
  font-size: 1.7vw;
  /*font-weight: bold;*/
}

.eventDate {
  font-size: 3vw;
  font-weight: bold;
}

.eventImage {
  width: 30%;
  height: auto;
  float: left;
  padding-right: 2vw;
}

.upcomingEvent {
  padding-bottom: 5%;
}

.eventName {
  font-size: 2.5vw;
  color: black;
}

.eventLocation {
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 25vw;
}

.eventLink {
  margin-left: 25vw;
}

.upcomingEvent {
  overflow: auto;
}

/*.videoContainer {
  display: flex;
  flex-wrap: wrap;
}*/

.videoContent {
  /*flex-basis: 2;*/
  width: 100%;
  height: 35vw;
  margin-right: 2%;
  margin-bottom: 2vh;
}

/*not sure about max-width for this one, check later.  or if it should be first or second*/

/*@media screen and (max-width: 1100px) and (max-height: 1400px) {
  img.cover {
    width: auto;
    margin-left: -140%;
    height: 120vh;
  }
}

@media screen and (max-width: 500px) and (max-height: 1000px) {
  img.cover {
    width: auto;
    margin-left: -210%;
    height: 110vh;
  }
}

@media screen and (max-width: 400px) and (max-height: 1000px) {
  img.cover {
    width: auto;
    margin-left: -205%;
    height: 100vh;
  }
}

@media screen and (max-width: 414px) and (max-height: 800px) {
  img.cover {
    width: auto;
    margin-left: -165%;
    height: 100vh;
  }
}*/

/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
